<h1>SCORE</h1>
<h1 id="score">Score: <%= @score[:score]%></h1>

Your answer: <%= @answer%>
Time: <%= @score[:time]%>
Translation : <%= @score[:translation] %>
Message: <%= @score[:message]%>

<%= link_to "Play again", "/game" %>
