<h1>SCORE</h1>
<h1 id="score">Score: <%= @score[:score]%></h1>

<p>Your answer: <%= @answer%></p>
<p>Time: <%= @score[:time]%></p>
<p>Translation : <%= @score[:translation] %></p>
<p>Message: <%= @score[:message]%></p>

<%= link_to "Play again", "/game" %>
